.App {
  margin: 100px;
  border: 1px solid black;
  background-color: #d0e2f3ff;
}

.App header {
  border-bottom: 1px solid black;
  padding: 20px;
}

.App footer {
  border-top: 1px solid black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #93c47d;
  border: #fff;
  padding: 5px 14px;
  font-size: 20px;
  cursor: pointer;
}
li {
  cursor: pointer;
}
